body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(194, 33, 243);
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: rgb(212, 206, 206);
}

form,
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
select {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid rgb(71, 71, 182);
  border-radius: 6px;
  color: rgb(81, 81, 219);
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: rgb(137, 73, 197);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(151, 84, 214);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 10px;
  background-color: rgb(180, 180, 228);
  border-radius: 5px;
  margin-bottom: 10px;
}

.edit-btn {
  background-color: blueviolet;
  padding: 10px;
  border-radius: 4px;
}


.delete-btn {
  background-color: rgb(205, 43, 226);
  padding: 10px;
  border-radius: 4px;
}


.task {
  background-color: rgb(180, 180, 228);
}

.search {
  background-color: rgb(180, 180, 228);
}

.list {
  background-color: rgb(180, 180, 228);
}

.category {
  background-color: rgb(180, 180, 228);
}


.toast {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
label {
  font-size: 16px;
  color: rgb(130, 102, 180);
}

input[type="checkbox"] {
  margin-left: 10px;
  transform: scale(1.5);
}

input[type="checkbox"]:checked {
  color: rgb(76, 76, 204);
}
@media only screen and (max-width: 600px) {
  .container {
    margin: 20px;
  }

  form,
  .filters {
    flex-direction: column;
  }

  input[type="text"],
  input[type="date"],
  select {
    margin-bottom: 10px;
  }
}
